Django==5.2.1
gunicorn
django-jazzmin
whitenoise
scikit-learn
numpy
pandas
joblib
fairlearn
pillow
django-widget-tweaks
python-dotenv
psycopg2-binary
dj-database-url
python-dateutil
requests
threadpoolctl
